.container{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.containerImg{
display: flex;
justify-content: center;
flex-wrap: wrap;
}
.itemImg> img{
    padding: 5%;
    width: 100px;
    height: 100px;

}
.hImg>img{
    width:80%;
    height: 80%;
}

body{color:white;
justify-content: center;}

.obj>li{
    justify-content: start;
}

.selected{
opacity: 0.5;
}